
body {
    background-color: #202021;
    font-family: 'Thabit';
    font-style: normal;
    color: white;
}

:root {
    --color-text: #fff;
    --color-background: #202021;
    --color-accent: #7A35EC;
}

h1 {
    color: white;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.mainButton {
    background-color: var(--color-accent);
    color: var(--color-text);
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

input[type=email] {
    border-radius: 8px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu li{
    display: flex;
    justify-content: center;
}

.menu li:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ffffff;
}

.menu a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 64px;
}

.middle-line-text {
    display: flex;
    align-items: center;
    text-align: center;
}

.middle-line-text::before {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
    margin-right: 10px;
}

.middle-line-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
    margin-left: 10px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
