body {
  background-color: #202021;
  font-family: "Glegoo";
  font-weight: 700;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

:root {
  --color-text: #fff;
  --color-background: #202021;
  --color-accent: #7a35ec;
  --color-accent-shadow: #651bdd;
  --color-accent-hover: #813fed;
  --color-deny: #EC3535;
  --color-deny-shadow: #941F1F;
  --color-deny-hover: #ed3f3f;
  --color-confirm: #27D66A;
  --color-confirm-shadow: #189548;
  --color-confirm-hover: #3bdb79;
  --color-secondary: #9a9996;
  --color-secondary-shadow: gray;
  --color-secondary-hover: #a4a3a0;
  --color-remoteAuth: #006e70;
  --color-remoteAuth-shadow: #005d5f;
  --color-remoteAuth-hover: #008284;
}

h1 {
  color: white;
}

h2 {
  align-self: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 28px;
}

.button {
  margin-top: 16px;
  margin-bottom: 21px;
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 0px 0px var(--color-accent-shadow);
}

.button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.button:hover {
  background-color: var(--color-accent-hover);
}

.button:disabled {
  opacity: 0.3;
}

.confirm-button {
  background-color: var(--color-confirm);
  box-shadow: 0 4px 0px 0px var(--color-confirm-shadow);
  height: 3rem;
  width: 3rem;
}

.confirm-button:hover {
  background-color: var(--color-confirm-hover);
}

.cancel-button {
  background-color: var(--color-deny);
  box-shadow: 0 4px 0px 0px var(--color-deny-shadow);
  height: 3rem;
  width: 3rem;
}

.cancel-button:hover {
  background-color: var(--color-deny-hover);
}

.secondaryButton {
  margin-top: 16px;
  margin-bottom: 21px;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 0px 0px var(--color-secondary-shadow);
}

.secondaryButton:hover {
  background-color: var(--color-secondary-hover);
}

.remoteAuthButton {
  margin-top: 16px;
  margin-bottom: 21px;
  background-color: var(--color-remoteAuth);
  color: var(--color-text);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 0px 0px var(--color-remoteAuth-shadow);
}

.remoteAuthButton:hover {
  background-color: var(--color-remoteAuth-hover);
}

.invalid-feedback {
  color: var(--color-text);
}

input {
  border-radius: 8px;
  padding: 12px;
  font-family: "Inter";
}

input:focus {
  outline: var(--color-accent) solid 2px;
  box-shadow: none;
}

input:disabled {
  background-color: white;
  color: gray;
  border: gray solid 2px;
  border-style: inset;
  
}

.dangerous-button {
  margin-top: 16px;
  margin-bottom: 21px;
  background-color: var(--color-deny);
  color: var(--color-text);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 0px 0px var(--color-deny-shadow);
  color: var(--color-text);
}

.dangerous-button:hover {
  background-color: var(--color-deny-hover);
}

.edit-button {
  background-color: var(--color-accent);
  box-shadow: 0 4px 0px 0px var(--color-accent-shadow);
  height: 3rem;
  width: 3rem;
}

.edit-button:hover {
  background-color: var(--color-accent-hover);
}

.modal-header {
    background-color: #7A35EC;
    color: white;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 100px;
  }
  
  .modal-content {
    --all: 0px;
    --b: var(--color-accent);
    box-shadow: var(--color-accent) 0px 0px 15px;
    box-shadow: var(--color-accent) 0px 0px 10px;
    width: 100%;
    background: 
      linear-gradient(135deg, var(--b) 0 calc(var(--top-left, var(--all)) + 40px), #202021 0) top left / 50% 50%,
      linear-gradient(-135deg, var(--b) 0 calc(var(--top-right, var(--all))), #202021 0) top right / 50% 50%,
      linear-gradient(90deg, var(--b) 0 calc(var(--bottom-left, var(--all))), #202021 0) bottom left / 50% 50%,
      linear-gradient(-45deg, var(--b) 0 calc(var(--bottom-right, var(--all)) + 51px), #202021 0) bottom right / 50% 50%,
      #202021;
      background-origin: border-box;  
      background-repeat: no-repeat;
      -webkit-mask:
      linear-gradient(135deg, transparent 0 calc(var(--top-left, var(--all)) + 42px), #fff 0) top left,
      linear-gradient(-135deg, transparent 0 calc(var(--top-right, var(--all))), #fff 0) top right,
      linear-gradient(45deg, transparent 0 calc(var(--bottom-left, var(--all))), #fff 0) bottom left,
      linear-gradient(-45deg, transparent 0 calc(var(--bottom-right, var(--all)) + 41px), #fff 0) bottom right;
      -webkit-mask-size: 51% 51%;
      -webkit-mask-repeat: no-repeat;  
    border: #7A35EC 10px solid;
  }
  
  .modal-body {
    align-self: center;
    align-content: center;
  }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu li {
  display: flex;
  justify-content: center;
}

.menu li:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ffffff;
}

.menu a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 64px;
}

.middle-line-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.middle-line-text::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
  margin-right: 10px;
}

.middle-line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
  margin-left: 10px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#codeForm {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 90vw;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.code-input {
    flex: 1;
    max-width: 90px;
    height: 90px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.code-input:focus {
    border-color: #007bff;
}

.profile-container {
  cursor: default;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-container:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}

#profile-photo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #7A35EC;
}

.username {
  font-size: 16px;
  color: #333;
}

#content {
  overflow-x: auto;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

thead {
  background-color: #430c56;
  color: #fff;
}

tbody {
  background-color: #6a507b7d;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px; 
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
}

#qrPhoto {
  width: 15rem;
  height: 15rem;
}

.alert-container {
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1061;
}

.big-title {
  font-size: 5rem;
}

table.dltrc {
  width: 95%;
  border-collapse: separate;
  border-spacing: 0px;
  border: solid rgb(255, 255, 255) 2px;
  border-radius: 8px;
}

tr.dlheader {
  text-align: center;
  font-weight: bold;
  border-left: solid rgb(255, 255, 255) 1px;
  padding: 2px
}

td.dlheader {
  background: #000000;
  text-align: center;
  font-weight: bold;
  border-left: solid rgb(255, 255, 255) 1px;
  border-radius: 0px;
  padding: 2px
}

tr.dlinfo,
td.dlinfo {
  text-align: center;
  border-left: solid rgb(244, 244, 244) 1px;
  border-top: solid rgb(255, 255, 255) 1px;
  padding: 2px
}

td.dlinfo:first-child,
td.dlheader:first-child {
  border-left: none;
}

td.dlheader:first-child {
  border-radius: 5px 0 0 0;
}

td.dlheader:last-child {
  border-radius: 0 5px 0 0;
}