body {
  background-color: #202021;
  font-family: "Glegoo";
  font-weight: 700;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

:root {
  --color-text: #fff;
  --color-background: #202021;
  --color-accent: #7a35ec;
  --color-accent-shadow: #651bdd;
  --color-deny: #EC3535;
  --color-confirm: #27D66A;
}

h1 {
  color: white;
}

h2 {
  align-self: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 28px;
}

.button {
  margin-top: 16px;
  margin-bottom: 21px;
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 0px 0px var(--color-accent-shadow);
}

.button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.confirm-button {
  background-color: var(--color-confirm);
  box-shadow: 0 4px 0px 0px #189548;
  height: 3rem;
}

.confirm-button:hover {
  background-color: #49b271;
}

.cancel-button {
  background-color: var(--color-deny);
  box-shadow: 0 4px 0px 0px #941F1F;
  height: 3rem;
}

.cancel-button:hover {
  background-color: #b86363;
}

.secondaryButton {
  margin-top: 16px;
}

.invalid-feedback {
  color: var(--color-text);
}

input {
  border-radius: 8px;
  padding: 12px;
  font-family: "Inter";
}

input:focus {
  outline: var(--color-accent) solid 2px;
  box-shadow: none;
}

input:disabled {
  background-color: white;
  color: gray;
  border: var(--color-accent) solid 0px;
}

.dangerous-button {
  color: var(--color-text);
  background-color: var(--color-background);
  border: var(--color-deny) solid 2px;
  border-radius: 1rem;
}

.dangerous-button:hover {
  transition: all 0.4s ease;
  color: var(--color-background);
  background-color: var(--color-deny);

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu li {
  display: flex;
  justify-content: center;
}

.menu li:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ffffff;
}

.menu a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 64px;
}

.middle-line-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.middle-line-text::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
  margin-right: 10px;
}

.middle-line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
  margin-left: 10px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#codeForm {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 90vw;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.code-input {
    flex: 1;
    max-width: 90px;
    height: 90px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.code-input:focus {
    border-color: #007bff;
}

.profile-container {
  cursor: default;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-container:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}

#profile-photo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #7A35EC;
}

.username {
  font-size: 16px;
  color: #333;
}

#content {
  overflow-x: auto;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

thead {
  background-color: #430c56;
  color: #fff;
}

tbody {
  background-color: #6a507b7d;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px; 
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
}

#qrPhoto {
  width: 15rem;
  height: 15rem;
}