.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.back-button {
  height: 64px;
  width: 64px;
  border: 2px solid rgb(255, 255, 255);
  margin-right: -1px;
  margin-top: 8px;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  justify-content: center;
}

.back-button svg {
  margin-top: 6px;
}

.back-button svg:hover {
  transform: scale(1.05);
}

.profile {
  height: 70vh;
  width: 80vw;
  max-width: 1200px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;

  display: grid;
  grid-template-areas: 
    "title    title"
    "content  navigation"
    "content  navigation";
  /* grid-template-rows: 6em 1fr; */
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: auto minmax(0, 1fr) ;

}

#profile > .header {
  grid-area: title;
  font-weight: normal;
  font-size: 4rem;
  padding-left: 1rem;
  border-bottom: 1px solid white;
}

#profile > .navigation {
  grid-area: navigation;
}

.navigation {
  width: 16rem;
  border-left: 1px solid white;
}

.navigation > ul {
  list-style-type: none;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  position: relative;
  padding-left: 20px;
  font-weight: lighter;
}

.navigation a:hover {
  text-shadow: 0 0 3px white;
}

#selected {
  font-weight: 900;
}

#selected::before {
  content: "";
  left: 0px;
  top: 10px;
  background: white;
  height: 70%;
  width: 10px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
}

#profile-photo {
  height: 16rem;
  width: 16rem;
  border: 3px solid #7A35EC;
  border-radius: 1rem;
}

#content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}


.power-container {
  background-color: #2E424D;
  width: 100%;
  height: 15px;
  border-radius: 5px;
}

.power-container #power-point {
  background-color: #D73F40;
  width: 1%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}