<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Creation</title>
    {% load static %}
</head>
<body>
    <h1>Tournament</h1>
        <form id="tournament-form">
        <label for="tournament-name">Tournament Name:</label>
        <input type="text" id="tournament-name" name="tournament-name" required>
        
        <label for="max-players">Max Players (up to 12):</label>
        <input type="number" id="max-players" name="max-players" min="1" max="12" required>
        
        <button type="submit">Create Tournament</button>
    </form>
    <!-- Load matchmaking.js as a module -->
    <script type="module" src="{% static 'matchmaking.js' %}"></script>

    <!-- Load tournament.js as a module -->
    <script type="module" src="{% static 'tournament.js' %}"></script>
</body>
</html>