<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <img src="https://imgs.search.brave.com/eECitSPjFmGl-uXlh6pu4dmenbWLiIWlwt_TjLyLGCQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzhlLzQ4/LzAxLzhlNDgwMTk2/NWI1OGY1NDkyYzYz/YzVmMjBkNjU0NzRj/LmpwZw" class="rounded-circle mb-3" alt="Avatar" style="width: 100px; height: 100px;">
                    <h5 class="card-title">Display Name</h5>
                    <p class="card-text">This is a brief bio or description of the user. It can be extended to include more information.</p>
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>