<!DOCTYPE html>
<html lang="en">
  <body
    style="
      margin: 0;
      font-family: 'Glegoo', sans-serif;
      background: #000000;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #000000;
        font-size: 14px;
        color: #f7f7f7;
      "
    >
      <img
        src="https://raw.githubusercontent.com/memaar92/transcendence/refs/heads/main/test_image2.jpeg"
        alt="Top Image"
        style="
          width: 100%;
          max-width: 240px;
          height: auto;
          display: block;
          margin: 0 auto;
        "
      />

      <main>
        <div
          style="
            margin: 0;
            padding: 35px 30px 35px;
            background: #000000;
            text-align: center;
          "
        >
          <div style="width: 100%; max-width: 489px; margin: 0 auto;">
            <h1
              style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #f7f7f7;
              "
            >
              Complete your account setup
            </h1>
            <p
              style="
                margin: 0;
                margin-top: 40px;
                font-size: clamp(14px, 5vw, 40px);
                font-weight: 600;
                letter-spacing: clamp(10px, 2vw, 20px);
                color: #7a35ec;
              "
            >
              {{ code }}
            </p>
            <p
              style="
                margin: 0;
                margin-top: 40px;
                font-size: 16px;
                font-weight: 500;
                color: #f7f7f7;
              "
            >
              Welcome to Transcendence,
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
                color: #f7f7f7;
              "
            >
              Use the OTP above to verify your email address and complete your account setup. OTP is
              valid for <span style="font-weight: 600; color: #f7f7f7;">5 minutes</span>.
              Do not share this code with others, including fellow students and other magical mischief-makers.
            </p>
          </div>
        </div>

        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            font-weight: 500;
            color: #f7f7f7;
          "
        >
          Need help? Ask at
          <a
            href="mailto:transcendence.pongo@gmail.com"
            style="color: #cccccc; text-decoration: none;"
            >transcendence.pongo@gmail.com</a
          >
        </p>
      </main>

      <footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #f7f7f7;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #f7f7f7;
          "
        >
          Magical Mischief-Makers
        </p>
        <p style="margin: 0; margin-top: 8px; color: #f7f7f7;">
          Cluster 2, Wolfsburg, Germany.
        </p>
        <p style="margin: 0; margin-top: 16px; color: #f7f7f7;">
          Copyright © 2024 Magical Mischief-Makers. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
